MM_munkafajlok/CDTD5F_1006/ERkonvSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="A">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="a" type="xs:string"/>
      <xs:element name="b">
      	<xs:complexType>
			      	
      	</xs:complexType>
      </xs:element>
      <xs:element name="c" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>